<div class="container">
  <div class="main">
    <h1>My ToDo App</h1>
    <input type="text"  [(ngModel)]="myInput"/>
    <button (click)="addTask($event)" class="addButton">Add</button>
    <section class="list">
      <ul *ngIf="allTasks.length !== 0">
        <li *ngFor="let item of allTasks; let indexing = index">
          <input type="checkbox"  [checked]="item.checked" (change)="checkUncheck(indexing)"/>
          <h3>{{item.taskHeading}}</h3>
          <button (click)="deleteTask(indexing)">Delete</button>
        </li>
      </ul>
    </section>
  </div>
</div>